/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  border: none;
  outline: none; }

* {
  box-sizing: border-box; }

.basket {
  font-family: 'Roboto', sans-serif; }
  .basket .title {
    font-size: 48px;
    text-align: center; }

.add-item-form {
  width: 600px;
  margin: auto;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-around; }
  .add-item-form .input {
    height: 50px;
    font-size: 24px;
    border: 1px solid #888;
    border-radius: 4px;
    transition: border .2s;
    -webkit-transition: border .1s, box-shadow .1s, -moz-box-shadow .1s, -webkit-box-shadow .1s;
    padding-left: 10px; }
    .add-item-form .input:focus {
      border: 1px solid green;
      -webkit-box-shadow: 0px 0px 5px 0px green;
      -moz-box-shadow: 0px 0px 5px 0px green;
      box-shadow: 0px 0px 5px 0px green; }
  .add-item-form .name {
    width: 350px; }
  .add-item-form .quantity-input-container {
    position: relative; }
    .add-item-form .quantity-input-container .increment-button {
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      right: 1px;
      height: 25px;
      width: 30px;
      border: 1px solid transparent;
      background-color: #dbdbdb;
      font-size: 18px; }
    .add-item-form .quantity-input-container .up {
      top: 1px;
      border-top-right-radius: 4px; }
    .add-item-form .quantity-input-container .down {
      bottom: 1px;
      border-bottom-right-radius: 4px; }
    .add-item-form .quantity-input-container .increment-button:disabled {
      opacity: .6;
      cursor: not-allowed; }
  .add-item-form .quantity {
    width: 80px; }
  .add-item-form .add-item-button {
    cursor: pointer;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    color: #fff;
    background-color: green;
    border-radius: 4px;
    font-size: 20px; }
    .add-item-form .add-item-button:disabled {
      opacity: .5;
      cursor: not-allowed; }

.basket-controls {
  width: 600px;
  height: 40px;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .basket-controls .button {
    box-sizing: border-box;
    cursor: pointer;
    height: 36px;
    border-radius: 4px;
    background: green;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    padding: 0 10px;
    user-select: none; }
    .basket-controls .button:disabled {
      opacity: .5; }
  .basket-controls .toggle-in-basket {
    width: 157px;
    text-align: center; }
  .basket-controls .delete-in-basket {
    background: red; }

.basket-item-index .col {
  overflow: hidden; }

.basket-item-index .col-1 {
  padding-left: 8px;
  width: 54px; }

.basket-item-index .col-2 {
  width: 40px; }

.basket-item-index .col-3 {
  width: 250px;
  max-width: 250px; }

.basket-item-index .col-4 {
  width: 150px; }

.basket-item-index .col-5 {
  width: 90px; }

.basket-item-header {
  width: 600px;
  margin: auto;
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
  display: flex;
  margin-top: 20px; }

.basket-item.opaque > * {
  opacity: .5; }

.basket-item {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 600px;
  height: 50px;
  border-bottom: 1px solid #777;
  display: flex;
  align-items: center;
  font-size: 20px; }
  .basket-item .checkbox {
    cursor: pointer;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    padding: 2px;
    font-size: 30px; }
  .basket-item .name {
    height: 30px;
    line-height: 30px; }
  .basket-item .button {
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    min-width: 30px;
    background: #dbdbdb;
    font-size: 18px; }
    .basket-item .button:disabled {
      opacity: .5;
      cursor: not-allowed; }
  .basket-item .increment-down {
    margin-right: 10px; }
  .basket-item .delete {
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
    color: #fff; }
